@import 'cores';
@import 'fontes';

body {
    margin: 0;
}



#header {
    background-color: $cor-header;
    padding: 10px 20px;
    //width: 100%;
    margin-bottom: 5px;

    * {
        display: inline;
        vertical-align: middle;

    }
}

img {
    width: 60px;
    margin-right: 10px;
}

h1 {
    font-family: $fonte-decorativa;
    color: white;
}


#formularioContato {

    padding: 10px;
    border: 1px solid $cor-borda;
    width: 95%;
    margin: auto;



    label,
    input {
        display: block;
        font-family: $fonte-padrao;
    }

    input {
        margin-bottom: 10px;

        &[type=text],
        &[type=email],
        &[type=tel],
        &[type=date] {
            height: 25px;
            //width: 250px;
            font-size: 100%;
            /*Daqui para baixo e opcional*/
            border-radius: 5px;
            border: 1px solid #aaa;
            padding-left: 5px;
        }

        &[type=text] {
            width: 400px;
        }

        &[type=email] {
            width: 300px;
        }

        &[type=tel] {
            width: 140px;
        }

        &[type=submit] {
            border-radius: 5px;
            padding: 10px 20px;
            border: 1px solid #aaa;
            background-color: $cor-botao-primario;
            color: white;
            border: none;
        }

    }


}


#tabelaContatos {
    margin-top: 20px;


    table {
        border-collapse: collapse;
        margin: 0px auto 50px auto;
        width: 95%;
        font-family: $fonte-padrao;
        //text-align: left;

        thead {
            background-color: $cor-header;
            color: white;
        }

        //&:nth-child()


        tr {

            &:hover {
                td {
                    background-color: #eeeeee;
                }

            }

            //Atinge apenas as linhas pares
            &:nth-child(even) {
                background-color: $cor-sombras;
            }

            td {
                font-size: 90%;
            }

            td,
            th {
                //Regra geral
                text-align: center;
                //border: 1px solid black;
                padding: 5px 0px;

                // Regra específica para a primeira coluna
                &:first-child {
                    text-align: left;
                    padding-left: 5px;
                }

                // Regra específica para a última coluna
                &:last-child {
                    text-align: right;
                    padding-right: 5px;
                }

            }

        }


    }

}

//estiliação cards
#cardsContatos {
    padding: 5px 0px;
    display: none;

    div {
        border: 1px solid $cor-borda;
        //box-shadow: 2px 2px 2px $cor-borda;
        margin: 0px auto 10px auto;
        width: 92%;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;

        &:hover {
            background-color: #eeeeee;
        }

        span {
            font-family: $fonte-padrao;
            font-size: 100%;
            display: block;
            text-indent: 40px;

            /*
            deixando a incial e o restante do nome na mesma linha.

            */
            &:first-child,
            &:nth-child(2) {
                display: inline-block;
                margin-bottom: -7px;
                font-size: 100%;
                text-indent: 0px;
            }


            //Inicial do nome
            &:first-child {
                background-color: $cor-header;
                color: white;
                padding: 10px 15px;
                border-radius: 50%;
                margin-right: 2px;

            }

        }
    }
}
/*
    Campo de filtro
*/

#filtro {
    margin: 30px auto 0px auto;
    display: block;
    border-radius: 20px;
    width: 50%;
    height: 35px;
    border: 1px solid #cccccc;
    outline: none;
    text-indent: 20px;
    //text-align: center;
    font-size: 90%;

    &:hover {
        border: none;
        box-shadow: 1px 1px 5px #dddddd,
            -1px -1px 3px #dddddd;
    }
}

@media only screen and (max-width:600px) {

    #cardsContatos {
        display: block;
        padding: 5px 0px;
        margin-top:10px;
    }

    #tabelaContatos {
        display: none;
    }
    #formularioContato{

        width: 88%;
        
        input[type=text] {
            width: 90%;
        }

        input[type=email]{
            width: 90%;
        }

    }

    #filtro {
        width: 85%;
    }

}